[gcode_macro Print_Start]
gcode:    
    {% set target_extruder = params.HOTEND|default(260)|int %}
    {% set target_bed = params.BED|default(110)|int %}
    {% set target_chamber = params.CHAMBER|default(0)|int %}
    {% set start_chambertemp = target_chamber - 5 %}
    {% set target_beacon = params.BEACON_TARGET|default(65)|int %}
    {% set OFFSET = params.OFFSET|default(0)|float %}
    {% set RESET = params.RESET|default('True')|string %}
    {% set Prime = params.Prime|default('True')|string %}
    {% set nozzle_wiper = printer["gcode_macro Enable_Features"].nozzle_wiper %}
    _SET_MPC_MATERIAL MATERIAL={params.MATERIAL}

    # clear paused states, reset printer vars
    # clear paused states, reset printer vars
    RESPOND MSG="File received"
    SET_GCODE_OFFSET Z=0
    UPDATE_DELAYED_GCODE ID=DELAYED_OFF DURATION=0                   ; cancel off timer (if there is one)
    BED_MESH_CLEAR
    CLEAR_PAUSE
    SET_PAUSE_NEXT_LAYER ENABLE=0

    #reset printer limits
    _RESET_PRINTER_TO_KLIPPER_CONFIG  

    #Chamber leds to white
    LEDS_PRINTING

    # Slightly warm the nozzle and start bed heating early
    M104 S70
    M140 S{target_bed}
  
    # Homing sequence
    RESPOND MSG="Homing"
    STATUS_HOMING
    #SET_FAN_SPEED FAN=nevermore SPEED=1 
    G28 METHOD=PROXIMITY                           ; Home using proximity to get close to avoid the slow creep down when z is high
    G28 Z METHOD=CONTACT CALIBRATE=0
    G90
    G0 Z2                     

    # Bed heating and possible chamber heatsoak
    RESPOND MSG="Heating up"
    M190 S{target_bed}                                                           ; wait on bed temperature  
    {% if printer['temperature_sensor chamber'].temperature < target_chamber or printer.heater_bed.temperature < (target_bed-2)  %}    ; - if chamber is not at temp yet:
         RESPOND MSG="Waiting for chamber to reach: {target_chamber}c"
         M104 S40      ; Hotend to 40C to avoid cooking material
         HEATSOAK T={target_bed} C={target_chamber} MOVE=1 WAIT=1                ;   heatsoak macro + park in center
    {% else %}
        RESPOND MSG="Chamber already above {target_chamber}c"                    ; - if chamber is already at temp:
        HEATSOAK T={target_bed} C={target_chamber} MOVE=0 WAIT=1                 ;  "heatsoak" without parking (only still calling this because it does some other things like turn off exahaust fan)
    {% endif %} 

    # Heating nozzle to 160 degrees. This helps with getting a correct Z-home
    RESPOND MSG="Hotend: 160c"          
    M106 S77                                        ; Turns on partcooling fan 30pc to avoid filament leakage
    M104 S160                                       ; preheat nozzle to probing temp
    TEMPERATURE_WAIT SENSOR=extruder minimum=158
    M400 

    # Z Tilt Adjust and Home Z again
    RESPOND MSG="Sorting the tilt"
    STATUS_LEVELING
    Z_TILT_ADJUST                                 ; level the bed
    M400
    RESPOND MSG="Homing Z"
    G28 Z
    G1 Z30 F1200

    # Clean nozzle
    M400
    RESPOND MSG="Cleaning Nozzle"
    STATUS_CLEANING
    M104 S{target_extruder}                         ; heat up nozzle to print temperature
    PARK                                            ; Park on nozzle stop area
    TEMPERATURE_WAIT SENSOR=extruder minimum={min_ext}
    M104 S150                                       ; Heat up nozzle to probing temperature
    M106 S255                                       ; Turns on partcooling fan 100pc to aid cooldown
    CLEAN_NOZZLE                                    ; Clean nozzle
    PARK                                            ; Park again while nozzle cools down
    TEMPERATURE_WAIT SENSOR=extruder maximum=180 
    CLEAN_NOZZLE                                    ; Clean again after cool down
    M400
    M106 S77                                        ; Reset part cooling fan to 30pc

    # Z Tilt Adjust + Z Home
    RESPOND MSG="Sorting the tilt again"
    STATUS_LEVELING
    Z_TILT_ADJUST                                 ; level the bed again to compensate for any changes from the first home
    M400
    RESPOND MSG="Homing Z"
    G28 Z METHOD=CONTACT CALIBRATE=0

    # Bed Mesh
    M400
    RESPOND MSG="Creating Mesh"
    STATUS_MESHING
    BED_MESH_CALIBRATE RUNS=2 ADAPTIVE=1                  ; bed mesh in scan mode                                                       
    G1 Z30 F1200
    RESPOND MSG="Doing bed mesh check..."
    BED_MESH_CHECK MAX_DEVIATION=0.2

    # Z offset calibration
    M400
    RESPOND MSG="Z offset calibration"              ; Displays info
    PARK
    TEMPERATURE_WAIT SENSOR=extruder maximum=150    ; Park nozzle & wait for touch temperature
    CLEAN_NOZZLE                                    ; Clean nozzle

    STATUS_HOMING
    G1 X127.5 Y127.5 F12000                             ; move to bed centre
    G1 Z5 F1200                                     ; move to Z height to start z offset calibration
    M400
    G28 Z METHOD=CONTACT CALIBRATE=1                ; calibrate z offset and beacon model hot
    G1 Z30 F1200                                    ; Lift Z height before parking on the rear and handing over to the MMU
    
    #SET_FAN_SPEED FAN=nevermore SPEED=0.5
    
    STATUS_BUSY

[gcode_macro PRINT_START_CONTINUE]
gcode:
  {% set target_extruder = params.HOTEND|int %}
  {% set min_ext = target_extruder-1 %}
  {% set max_ext = target_extruder+5 %}

  # Heat nozzle to printing temperature
  RESPOND MSG="Heating nozzle to print temperature..."
  M104 S{target_extruder}
  PARK
  TEMPERATURE_WAIT SENSOR=extruder minimum={min_ext} maximum={max_ext}
  M106 S255                                       ; Fan at 100 pc

  M400
  RESPOND MSG="Clean and purge at print temperature..."
  CLEAN_NOZZLE                                    ; Clean nozzle
  M106 S0                                       ; Fan at 0 pc
   
  RESPOND MSG="Purging"
  SQUIGGLY_PURGE ADAPTIVE_MODE=1 LINE_MARGIN=15
    
  RESPOND MSG="Printer goes brr"          # Displays info  
  G90                         
    
##------------------------------------------------------------------------------------------##
################################ END PRINT ###################################################
##------------------------------------------------------------------------------------------##

[gcode_macro Print_End]
gcode:
   # safe anti-stringing move coords
    {% set th = printer.toolhead %}
    {% set x_safe = th.position.x + 20 * (1 if th.axis_maximum.x - th.position.x > 20 else -1) %}
    {% set y_safe = th.position.y + 20 * (1 if th.axis_maximum.y - th.position.y > 20 else -1) %}
    {% set z_safe = [th.position.z + 10, th.axis_maximum.z]|min %}
    {% set bedtemp = printer.heater_bed.target %}

    _RESET_PRINTER_TO_KLIPPER_CONFIG
    
    TURN_OFF_HEATERS
    
    M400                                     ; wait for buffer to clear
    G90                                      ; absolute positioning
    G0 X{x_safe} Y{y_safe} Z{z_safe} F20000  ; move nozzle to remove stringing
    G0 X127.5 Y220 F7200   ; park nozzle at the rear for easy cleaning
    G90
    
    {% if z_safe < 100 %}       ; check if current Z is below 100mm
      G1 Z100 F900              ; raise Z up
    {% endif %}

    M400

    SET_LED LED=chamber_leds RED=0.4 GREEN=0.4 BLUE=0.4
    M400

        # Cooldown and venting control
    {% if bedtemp > 90 %}
        # High-temp build – keep bed heater on, run exhaust at 15% for 15 minutes to filter the air.    
        M140 S{bedtemp-10}                                        ; Reduce bed temperature slightly 
        M106 S13                                                  ; Part cooling fan to 10pc to prevent cowling deformation
        UPDATE_DELAYED_GCODE ID=DELAYED_OFF DURATION=900          ; Wait for 15 mins before full shutdown.
    {% else %}
        # Low-temp build – shut heaters now, vent for two minutes
        M107                                                      ; Part-cooling fan off
        UPDATE_DELAYED_GCODE ID=DELAYED_OFF DURATION=120
    {% endif %}
    
    SET_LED LED=chamber_leds RED=0.1 GREEN=0.1 BLUE=0.1

    status_ready
    #SET_FAN_SPEED FAN=nevermore SPEED=0
    RESPOND MSG="Finished"
    M400
    
    SET_GCODE_OFFSET Z=0
    BED_MESH_CLEAR
    M400
    M84  

[delayed_gcode DELAYED_OFF]
gcode:
    OFF                                                             ; call "OFF" macro, to turn off everything (heaters, motors, lights, fans)
    leds_idle
    STATUS_OFF